:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color: #333;
    background-color: #f8f9fa;
  
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  .container {
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  input,
  button {
    border-radius: 8px;
    border: 1px solid #ced4da;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #495057;
    background-color: #ffffff;
    transition: all 0.25s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  input {
    border: 1px solid #dee2e6;
  }
  
  button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    background-color: #003f80;
  }
  
  #greet {
    font-size: 1em;
    font-weight: 500;
    color: #333;
  }
  
  * {
    margin-bottom: 1rem;
  }
  